.App {
  text-align: center;
}


.main-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-right: 35px;
  align-items: start;
}

.item-grid {
  display: grid;
  margin: 15px;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.country-group { 
  display: flex;
  flex-direction: column;
}

.position-group { 
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}



@media screen and (max-width: 1700px) {
  .item-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {

  .item-grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 550px) {

  .main-grid {
    grid-template-columns: 1fr;
  }

  .item-grid {
    grid-template-columns: 1fr;
  }

}
